.charts{
  height:700px;
}
.view{
  margin:auto;
  height:1000px;
  width:100%;
}
#axis{
    font-weight: bold;
}

.hovered{
    stroke-width: 3;
}

.normal{
    stroke-width: 1;
}

.label{
  text-anchor: middle;
}


.no-display {
  display: none !important;
}
#header{
    margin: auto;
    height: 20%;
    width: 100%;
}
.extreme{
  position: relative;
  left: 40px;
  top:15px;
  display: inline-block;

  height:50px;
  width: 100px;
  fill: #ccc;
  border-radius: 5px;
  color: steelblue;
  border: 2px solid steelblue; /* Green */
  margin-top: 10px;
}

#extreme{
  z-index: 100;
}
